.navbar {
    background-color: #3b5998;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #f7f7f7;
}

.about-container {
    margin-top: 50px;
    text-align: center;
    color: #3b5998;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
