.navbar {
    background-color: #3b5998;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #f7f7f7;
}
